/* All CSS is written here, no split between components */

.error {
  /* used to display login and json parse errors */
  color: red;
  font-weight: bold;
}

.login-form {
  margin-top: 20vh;
  background-color: rgb(225, 225, 225);
  padding: 15px;
  border-radius: 10px;
}


.top-row {
  /* header row for the table */
  margin-top: 20px;
  padding: 5px 0 15px 0;
}

.margin-row {
  margin: 10px 0;
}

.top-row, .border-bottom {
  border-bottom: 1px solid lightgray;
}

.hoverable {
  /* table rows */
  cursor: pointer;
}

.manual {
  /* style to display text that is translated manually */
  color: darkblue;
  font-weight: bold;
}

.glossary {
  /* style to display text that is translated from firestore database */
  color: darkgreen;
  font-weight: bold;
  font-style: italic;
}

.source {
  /* small text below the translation window */
  margin-bottom: 15px;
  font-size: 11px;
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif
}